<div class="mt-5">
    <p/>
    <a class="btn btn-success" th:href="@{/status/dashboard}" th:text="#{cas.dashboard.section.dashboard.title}"/>
    <a class="btn btn-success" href="#" onclick="location.reload();" th:text="#{cas.ssosessions.button.refresh}"/>
</div>
