// Bootstrap and its default variables
@import "components/variables";

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "mixins/buttons";

@import "partials/messages";

@import "components/login";

@import "components/footer";

@import "components/buttons";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding: 65px 15px 0;
}

a {
  color: $link-color;
}

.logo {
  height: 40px;
  width: 80px;
  display: block;
}

header {
  & > .navbar {
    background-color: $navbar-background-color;
    color: color-yiq($navbar-background-color);

    .logo {
      path.cls-1 {
        @if lightness($navbar-background-color) > lightness(#aaa) {
          fill: theme-color("cas-primary");
        } @else {
          fill: white;
        }
      }
    }
  }
}

// Cards
.card {
  margin-bottom: 2em;
}

#cas-resource-list {
  background-color: $cas-resource-list-background-color;
}

#cookiesDisabled.card {
  background-color: $cookies-disabled-background-color;
  color: color-yiq($cookies-disabled-background-color);
}

#staticAuthentication.card {
  background-color: $default-auth-background-color;
  color: color-yiq($default-auth-background-color);
}

#serviceui.alert {
  background-color: $serviceui-alert-background-color;
  color: color-yiq($serviceui-alert-background-color);
}

#insecureNotice.card {
  background-color: $insecure-notice-background-color;
  color: color-yiq($insecure-notice-background-color);
}
