@import "variables.scss";

// This sets a default background color for all btn-social implementations.  The actual provider style will
// override this with their own colors.  This is use as a fallback for unknown social types.
.btn-social {
  background-color: slategray;
  text-transform: capitalize;
}

@import "../vendor/bootstrap-social/bootstrap-social";

// social-button overrides
.btn-social, .btn-social-icon {
  padding-left: 50px;
}

.btn-social > :first-child, .btn-social-icon > :first-child {
  line-height: 38px;
  width: 40px;
}

/**
 * Add in our own custom social colors.
 */
.btn-submit {
  @include btn-social(theme-color("btn-submit"));

}


.btn-cas {
  @include btn-social(#153e50)
}

.btn-saml2 {
  @include btn-social(#cb2027)
}

.btn-oidc {
  @include btn-social(#f7931e)
}

.btn-google2 {
  @include btn-social(#DD4B39)
}

.btn-windows {
  @include btn-social(#2672EC)
}

.btn-wordpress {
  @include btn-social(#eeeeee, #000)
}

// Specific provider overrides
a.btn.btn-wordpress {
  color: #000 !important;
}

// Success appears as the bootstrap success theme color
.btn-restart {
  @include btn-social(#28a745)
}

// Success appears as the bootstrap warning theme color
.btn-refresh {
  @include btn-social(#ffc107)
}

// Success appears as the bootstrap danger theme color
.btn-shutdown {
  @include btn-social(#dc3545)
}
