
* {
  box-sizing: border-box;
  //-webkit-transition: all 0.2s ease;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  //font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 14px;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 1.4em;
  background: #eee;
}

input {
  border: none;
  transition: all .5s linear;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:hover, input:focus {
  outline: 0;
  transition: all .5s linear;
  box-shadow: 0 0 5px 1px #969696;
  border: solid 1px #707070;
}

#container {
  width: 960px;
  margin: 0 auto;
}


@media screen and (min-width: 960px) {
  #container {
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  #ssosessions-page #container {
    width: 1280px;
  }
}

@media only screen and (max-width: 960px) {
  #container {
    width: 100%;
  }
  #content {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

body#cas {
  background: #153e50; /* Old browsers */
}

a:link, a:visited {
  color: #257bb2;
}

a:hover {
  color: #a0b757;
}

p {
  margin-bottom: 1.4em;
}

header {
  overflow: hidden;
  padding: 20px 0;
}

#logo {
  display: block;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999em;
  float: left;
  height: 100px;
  width: 80%;
  margin-right: 40px;
  border: 0px;
}

header h1 {
  float: right;
  width: 119px;
  height: 60px;
  background: url(../images/cas-logo.png) no-repeat;
  text-indent: -999em;
}

#content {
  overflow: hidden;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#msg {
  padding: 20px;
  margin-bottom: 40px;
}

#msg.errors {
  border: 1px dotted #BB0000;
  color: #BB0000;
  padding-left: 100px;
  background: url(../images/error.png) no-repeat 20px center;
}

#msg.success {
  border: 1px dotted #390;
  color: #390;
  padding-left: 100px;
  background: url(../images/success.png) no-repeat 20px center;
}

#msg.info {
  border: 1px dotted #008;
  color: #008;
  padding-left: 100px;
  background: url(../images/info.png) no-repeat 20px center;
}

#msg.question {
  border: 1px dotted #390;
  color: #390;
  padding-left: 100px;
  background: url(../images/question.png) no-repeat 20px center;
}

#msg.warn {
  border: 1px dotted #960;
  color: #960;
  padding-left: 100px;
  background: #ffbc8f url(../images/info.png) no-repeat 20px center;
}

.errors {
  border: 1px dotted #BB0000;
  color: #BB0000;
  padding-left: 100px;
  padding-top: 5px;
  margin-bottom: 5px;
  background: url(../images/error.png) no-repeat 20px center;
}

#serviceui.serviceinfo {
  border: 1px dotted #0066FF;
  color: black;
  padding-left: 10px;
  padding-top: 5px;
}

#servicedesc {
  vertical-align: middle;
  padding-left: 30px;
  width: 90%;
}

@import "components/login";


@import "components/footer";

@media only screen and (max-width: 960px) {
  header {
    padding: 20px;
  }
  #container {
    width: 100%;
  }
  #content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 855px) {
  #logo {
    display: none;
  }
  header h1 {
    font-size: 1em;
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
  }
  #login {
    float: none;
    width: 100%;
  }
  #fm1 .row input[type=text],
  #fm1 .row input[type=password] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #fm1 .row .btn-submit {
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    background: #70ba61;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #fm1 .row .btn-reset {
    display: none;
  }
  #sidebar {
    margin-top: 20px;
  }
  #sidebar .sidebar-content {
    padding: 0;
  }
}


/**
 * SSO Sessions Styles
 */
#loadingMessage {
  font-size: 14px;
}

#cas-sessions, #no-cas-sessions {
  display: none;
}

#no-cas-sessions div {
  margin-top: 2em;
}

.ssoSessions #content {
  border-radius: 4px;
  padding: 20px;
}

#container-stable {
  margin: 20px 0 20px;
}

.ssoSessions .btn-success {
  background: #70ba61;
  border: 0;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ssoSessions .sorting_desc, .ssoSessions .sorting_asc {
  background-color: rgba(239, 239, 239, 0.8);
}

.ssoSessions #removeAllSessionsButton.btn .badge {
  color: #000;
  padding-right: 9px;
}

.ssoSessions .adminPanels {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-bottom: 1em;
}

.ssoSessions .adminPanels .panel-default > .panel-heading {
  background-color: #fff;
  border-bottom: none;
}

.ssoSessions .adminPanels .panel-default > .panel-heading h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20pt;
}

.ssoSessions .adminPanels .panel-default > .panel-heading:after {
  position: absolute;
  font-family: FontAwesome;
  top: -5px;
  right: 30px;
  font-size: 70pt;
  color: #153e50;
  opacity: 0.1;
}

.adminPanels .users-panel.panel-default > .panel-heading:after {
  content: "\f0c0";
}

.adminPanels .usage-panel.panel-default > .panel-heading:after {
  content: "\f201";
}

.adminPanels .tickets-panel.panel-default > .panel-heading:after {
  content: "\f145";
}


.ssoSessions td.details-control {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 10pt;
  color: #337ab7;
}

.ssoSessions td.details-control:after {
  content: "\f067";
  /*content: "\002B"; - thinner plus sign */
}

.ssoSessions tr.shown td.details-control:after {
  content: "\f068";
  /*content: "\002D"; - thinner minus sign */
}

.row-detail-wrapper {
  /*background-color: cornsilk;*/
  background-color: #d9edf7;
}

.ssoSessions .row-detail thead {
  display: none;
}

.ssoSessions .row-detail {
  /*font-size: 8pt;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ssoSessions .field-label {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-size: 8pt;*/
  /*font-weight: bold;*/
}

.principal_attributes td:first-child {
  width: 30%;
}

table.principal_attributes > tbody > tr > td {
  border-top-color: #E6E6E6;
}

.adminPanels .panel-body {
  padding-top: 5px;
}

.adminPanels .panel-body span {
  font-family: 'Lato', sans-serif;
  font-size: 30pt;
  font-weight: 100;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#alertBox {
  display: none;
}


@import "alerts";


/**
 SB Admin Styles
 */

.huge {
  font-size: 30pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.semi-huge {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/**
 * Statistics View
 */

.statisticsView {
  display: none;
}

.statisticsView .progress-meter .background {
  fill: #DFEAFD;
}

.statisticsView .progress-meter .foreground {
  fill: #2E7AF9;
}

.statisticsView .progress-meter text {
  font-family: 'Lato' sans-serif;
  font-size: 25pt;
  font-weight: 300;
}

.statisticsView .progress-meter .text2 {
  font-family: 'Georgia' sans-serif;
  font-size: 10pt;
}

.modal {
  display: none;
}

/**
 * Runtime Statistics Gauge styles
 */
.statisticsView .runtimeStatistics .background {
  fill: #DFEAFD;
}

.statisticsView .runtimeStatistics .foreground {
  fill: #2E7AF9;
}

.statisticsView .runtimeStatistics text {
  font-family: 'Lato' sans-serif;
  font-size: 25pt;
  font-weight: 300;
}

.statisticsView .runtimeStatistics .text2 {
  font-family: 'Georgia' sans-serif;
  font-size: 10pt;
}

#uptime-panel {
  display: none;
}

#uptime {
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
}

.thread-dump-view {
  height: 600px;
  overflow-y: auto;
}

#metricsGauges strong {
  display: block;
}

#metricsGauges .panel {
  width: 100%;
}

#metricsGauges ul {
  height: auto;
  overflow: hidden;
}

#metricsGauges li {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 0 10px 10px;
  background: #d8d8d8;

}

#metricsGauges ul li:nth-child(5n + 1) {
  clear: left;
}


.statisticsView .equal, .statisticsView .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.statisticsView .section {
  margin-bottom: 25px;
}

#viewSsoSessions {
  color: white;
}

.statisticsView .adminPanels.container-fluid {
  padding-right: 0;
}

/**
 * View Configuration Styles
 */
#viewConfigError {
  display: none;
}

#view-configuration {
  display: none;
}

/**
 * CAS Meter/PM
 */
meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: .5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}

meter[value="1"]::-moz-meter-bar {
  background: red;
}

meter[value="2"]::-moz-meter-bar {
  background: yellow;
}

meter[value="3"]::-moz-meter-bar {
  background: orange;
}

meter[value="4"]::-moz-meter-bar {
  background: green;
}

.feedback {
  color: #9ab;
  font-size: 90%;
  padding: 0 .25em;
  font-family: Courgette, cursive;
  margin-top: 1em;
}

.pm {
  padding: 5px;
}


@import "dashboard-view";
