@import "variables";

.login {
  .card {
    margin-bottom: 1em;
  }
}

#list-providers {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 1em;

      a.btn, a.btn:visited {
        color: $list-providers-link-color;
      }
    }
  }
}

#notices {
  ul.list-group .fa, ul.list-group .far {
    margin-right: 7px;
  }
}
