// Over-ride theme colors here, like primary, danger, etc.
$theme-colors: (
        "cas-primary": #153e50,
        "cas-secondary": #74C163,
        "btn-submit": #28a745,
        "primary": #007bff,
        "secondary": #6c757d,
        "success": #28a745,
        "info": #17a2b8,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": #f8f9fa,
        "dark": #343a40,
);

$link-color: #257bb2;
$link-hover-color: rgb(160, 183, 87);

$navbar-background-color: theme-color("cas-primary");

// Footer Colors
$footer-text-color: black;
$footer-link-color: black;
$footer-background-color: #f5f5f5;

// Login specific Colors
$list-providers-link-color: white;

// Alerts/Notices Styles
$cookies-disabled-background-color: theme-color("warning");
$default-auth-background-color: theme-color("info");
$serviceui-alert-background-color: theme-color("info");
$insecure-notice-background-color: theme-color("warning");
$cas-resource-list-background-color: theme-color("light");
