<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.confirmation.message}">Confirm View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="confirmView">
        <div class="alert alert-info">
            <h4 th:text="#{screen.confirmation.message}">You asked to be warned before logging into applications. Please
                proceed.</h4>

            <form method="post" id="form" class="fm-v clearfix">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>

                <div class="form-group">
                    <div class="form-check">
                        <input id="ignorewarn"
                               class="form-check-input"
                               name="ignorewarn"
                               value="true"
                               tabindex="1"
                               type="checkbox"/>
                        <label for="ignorewarn" class="form-check-label" th:utext="#{screen.welcome.label.warnremove}">Do
                            not warn me again</label>
                    </div>
                </div>

                <input class="btn btn-submit" name="_eventId_success" accesskey="l"
                       th:value="#{screen.button.continue}" tabindex="4" type="submit" value="Continue"/>
            </form>

        </div>
    </div>
</main>
</body>
</html>
