<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.logout.confirm.header}">Confirm Logout View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-info">
            <h2 th:utext="#{screen.logout.confirm.header}">Do you want to log out completely?</h2>
            <p th:utext="#{screen.logout.confirm.text}">An application may have redirected you to the Central
                Authentication Service \
                to completely log you out and destroy your single sign-on session. If you choose to log out, you will be
                asked again \
                to provide your credentials and re-autheticate once you attempt to access an application.
            <p>
            <p><br>Do you want to proceed?</p>

            <div align="center">
                <form method="post" id="fm1">
                    <input type="hidden" name="LogoutRequestConfirmed" value="true"/>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="success"/>
                    <input class="btn btn-primary"
                           name="success"
                           accesskey="l"
                           th:value="#{screen.welcome.button.logout}"
                           value="Logout"
                           type="submit"/>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
