<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">Gua Display User Graphics View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <div class="alert alert-warning" role="alert">
            <h4 th:text="${guaUsername}">guaUsername</h4>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <strong th:utext="#{screen.gua.confirm.message}">If you do not recognize this image as yours, do NOT
                continue.</strong>
        </div>

        <div align="middle">
            <img style="width:130px;height:130px;border-radius:20%; 
                        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                        border: 1px solid #ddd;border-radius: 4px;"
                 th:src="@{'data:image/jpeg;base64,' + ${guaUserImage}}"/>

            <div>
                <p/>
            </div>

            <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
                <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                       th:value="#{screen.button.continue}" tabindex="4" type="submit" value="Continue"/>
                <div class="row btn-row">
                    <input type="hidden" name="username" th:value="${guaUsername}"/>
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                </div>
            </form>
        </div>
    </div>
</main>
</body>

</html>
