<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.authentication.warning}">CAS Login Message View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="loginMessageView">
        <div class="alert alert-warning">
            <h2 th:text="#{screen.authentication.warning}">Authentication Succeeded with Warnings</h2>
            <div th:each="message : ${messages}">
                <p class="message" th:utext="${message.text}">Message Text</p>
            </div>
            <section class="row">
                <div class="col-sm-3">
                    <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}">
                        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="proceed"/>
                        <input class="btn btn-submit" name="continue" accesskey="l"
                               th:value="#{screen.button.continue}" tabindex="4" type="submit" value="Continue"/>
                    </form>
                </div>
                <div class="col-sm-3" th:if="${passwordManagementEnabled}">
                    <form th:if="${passwordExpirationWarningFound}" method="post" id="changePasswordForm"
                          class="fm-v clearfix" th:action="@{/login}">
                        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="changePassword"/>
                        <input class="btn btn-info" name="changePassword" accesskey="l"
                               th:value="#{screen.button.changePassword}" tabindex="5" type="submit"
                               value="Change Password"/>
                    </form>
                </div>
            </section>
        </div>
    </div>
</main>
</body>
</html>
