<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pac4j.unauthz.pagetitle}">Pac4j Stop Webflow View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-danger">
            <h2 th:utext="#{screen.pac4j.unauthz.heading}">Unauthorized Access</h2>
            <p th:utext="#{screen.pac4j.unauthz.message}">Either the authentication request was rejected/cancelled, or
                the authentication provider denied access due to permissions, etc. Review logs to find the root cause of
                the issue.</p>

            <div>
                <p/>
                <table th:if="${error != null or reason != null or code != null or description != null}"
                       class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Error</th>
                        <th>Reason</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Provider</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <td th:text="${error}">Error</td>
                        <td th:text="${reason}">reason</td>
                        <td th:text="${code}">code</td>
                        <td th:text="${description}">description</td>
                        <td th:text="${client}">client</td>
                        <td>
                            <a th:href="${service}" th:text="#{screen.pac4j.unauthz.gotoapp}">Goto Application</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            <a class="btn btn-submit" th:href="@{/login}" th:text="#{screen.pac4j.unauthz.login}">Back to CAS</a>
            <a class="btn btn-submit" th:href="${service}" th:text="#{screen.pac4j.unauthz.gotoapp}">Goto
                Application</a>
        </p>
    </div>
</main>
</body>
</html>
