<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pm.reset.title}">Reset Password Sent Instructions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-success">
            <h2 th:utext="#{screen.pm.reset.sent}">Password Reset Instructions Sent Successfully.</h2>
            <p th:utext="#{screen.pm.reset.sentInstructions}">You should shortly receive an email with
                follow-instructions to reset your password. Please do not take long as the password reset instructions
                may expire.</p>
        </div>
    </div>
</main>
</body>
</html>
