<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pm.reset.title}">Reset Password Verify Questions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <h2 th:utext="#{screen.pm.reset.qstitle}">Answer Security Questions</h2>
        <p th:utext="#{screen.pm.reset.qsmsg(${username})}">Welcome <strong>{0}</strong>. Before you can reset your
            password, you must answer the following security questions.</p>

        <form method="post" id="fm1" class="fm-v clearfix">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="username" th:value="${username}"/>
            <input type="hidden" name="token" th:value="${token}"/>

            <div class="form-group">
                <table width="100%" th:if="${questionsEnabled}" class="table">
                    <tr th:each="q : ${questions}">
                        <td th:utext="${q}">Question text</td>
                        <td>
                            <input type="password" class="form-control required" required th:name="${'q' + qStat.index}"
                                   size="45"/>
                        </td>
                    </tr>
                </table>
            </div>
            <input class="btn btn-submit" accesskey="s"
                   th:value="#{screen.pm.button.submit}" tabindex="2" type="submit" value="SUBMIT"/>
        </form>
    </div>
</main>
</body>
</html>
