<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.swivel.pagetitle}">Swivel Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <h3 th:text="#{cas.mfa.swivel.label.header}">Swivel Authentication</h3>

        <form method="post" id="fm1" class="fm-v clearfix" th:object="${credential}" th:action="@{/login}">
            <div id="msg" class="alert alert-danger errors" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Error message</span>
            </div>

            <div class="form-group">
                <p class="text-center">
                    <img th:src="@{/swivel/turingImage(principal=${principal})}"
                         src="http://via.placeholder.com/150x50"/>
                </p>

                <label for="token" class="fl-label" th:utext="#{cas.mfa.swivel.label.token}">Token:</label>
                <input type="password" class="form-control required" required id="token" size="25" tabindex="1"
                       th:field="*{token}"
                       th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>
            </div>
            <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                   th:value="#{screen.welcome.button.login}" tabindex="4" type="submit" value="Login"/>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
    </div>
</main>
</body>
</html>
