<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.yubikey.pagetitle}">YubiKey Registration View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <form method="post" id="yubiKeyForm" class="fm-v clearfix">
            <div class="alert alert-info" th:text="#{cas.mfa.yubikey.register}">
                Your device is not yet registered. Use the below form to register your device with CAS.
            </div>

            <div class="form-group">
                <label for="token" class="fl-label" th:utext="#{cas.mfa.yubikey.label.token}">Token:</label>
                <input type="password" class="form-control" required id="token" th:name="token"
                       size="25" tabindex="1"
                       autocomplete="off"/>
            </div>
            <input class="btn btn-submit" name="_eventId_submit" accesskey="s"
                   th:value="#{screen.welcome.button.register}" tabindex="2" type="submit" value="Register"/>

            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
    </div>
</main>
</body>
</html>
