@import 'https://fonts.googleapis.com/css?family=PT+Mono';

#trustedDevices .tabsContainer {
    padding: 0 20px;
}

#trustedDevices .btn .caret {
    margin-left: 5px;
}

.tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
}

#container {
    width: 53%;
}
