<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.azure.pagetitle}">Microsoft Authenticator View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
    <style>
        textarea {
            border: 2pt;
            font-family: "Courier New";
            font-weight: bold;
            font-size: 45px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login" class="box">
        <form method="post" id="fm1" class="fm-v clearfix" th:object="${credential}" th:action="@{/login}">
            <div id="msg" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">this error block and text is only shown if there are errors</span>
            </div>

            <div class="form-group">
                <label for="token">Press 'LOGIN' below and provide the displayed code via your mobile device.</label>

                <textarea readonly class="form-control" id="token" size="25" rows="1" cols="8"
                          th:field="*{token}"></textarea>
            </div>

            <input class="btn btn-submit"
                   name="_eventId_submit"
                   accesskey="l"
                   tabindex="1"
                   th:value="#{screen.welcome.button.login}"
                   id="submitBtn"
                   type="submit"
                   value="LOGIN"/>

            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="geolocation"/>
        </form>

    </div>
</main>
</body>
</html>
