<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">Passwordless Display View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <div class="alert alert-info">
            <strong>Provide Token</strong>
            <p>
                Please provide the security token sent to you via email, phone, etc. Note that the token is valid for
                only a brief window and
                upon submission, all other tokens will be invalidated and removed.</p>
        </div>
        <div class="alert alert-danger alert-dismissible" th:if="${error}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Authentication Failure</strong>
            <p>The provided token could not be verified. It may have been invalidated, removed or expired.</p>
        </div>
        <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
            <div class="form-group">
                <label for="password">Token:</label>
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"
                       size="25"
                       tabindex="2"
                       autocomplete="off"
                       required/>
                <div>
                    <p/>
                </div>
                <input type="hidden" name="username" th:if="${passwordlessAccount}"
                       th:value="${passwordlessAccount.username}"/>
                <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="submit" value="LOGIN"/>
            </div>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
    </div>
</main>
</body>

</html>
