<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">Passwordless Get User Id View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
            <div class="form-group">
                <label for="username" th:utext="#{screen.welcome.label.netid}"><span class="accesskey">U</span>sername:</label>
                <input class="form-control"
                       type="password"
                       id="username"
                       name="username"
                       size="25"
                       tabindex="2"
                       th:accesskey="#{screen.welcome.label.netid.accesskey}"
                       autocomplete="off"
                       required/>
                <div>
                    <p/>
                </div>

                <input class="btn btn-submit" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="submit" value="LOGIN"/>
            </div>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
        </form>
    </div>
</main>
</body>
</html>
