<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Password Update Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-success">
            <h2 th:utext="#{screen.pm.success.header}">Password Change Successful</h2>
            <p th:utext="#{screen.pm.success.message}">Your account password is successfully updated.</p>

            <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="proceed"/>
                <input class="btn btn-submit" name="continue" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="submit" value="Login"/>
            </form>
        </div>
    </div>
</main>
</body>
</html>
