<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.mfaDenied.heading}">MFA Denied View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-danger">
            <h2 th:utext="#{screen.mfaDenied.heading}">MFA attempt is denied.</h2>
            <p th:utext="#{screen.mfaDenied.message}">Your MFA provider has denied your attempt at second factor
                authentication. Contact your system administrator for help in restoring your account.</p>
        </div>
    </div>
</main>
</body>
</html>
