<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>CAS Resource List Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="cas-resource-list" id="cas-resource-list" class="card d-sm-none d-md-block">
        <div class="card-body">
            <h3 class="card-title" th:text="#{cas.login.resources.header}">Links to CAS Resources</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a th:href="@{/status/dashboard}" th:inline="text">
                        <i class="fa fa-cogs"></i>[[#{cas.login.resources.dashboard}]]
                    </a>
                </li>
                <li class="list-group-item" th:if="${attributeConsentEnabled}">
                    <a th:href="@{/consentReview}" th:inline="text">
                        <i class="fa fa-cogs"></i>[[#{screen.consent.title}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://apereo.github.io/cas" th:inline="text">
                        <i class="fa fa-file"></i>[[#{cas.login.resources.wiki}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/apereo/cas/pulls" th:inline="text">
                        <i class="fa fa-bug"></i>[[#{cas.login.resources.pulls}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://apereo.github.io/cas/developer/Contributor-Guidelines.html" th:inline="text">
                        <i class="fa fa-bug"></i>[[#{cas.login.resources.contribguide}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://apereo.github.io/cas/Mailing-Lists.html" th:inline="text">
                        <i class="fa fa-envelope"></i>[[#{cas.login.resources.mailinglist}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://gitter.im/apereo/cas" th:inline="text">
                        <i class="far fa-comment-alt"></i>[[#{cas.login.resources.chat}]]
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://apereo.github.io/" th:inline="text">
                        <i class="fa fa-rss"></i> [[#{cas.login.resources.blog}]]
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>
