<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<footer th:fragment="footer" class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright" th:utext="#{copyright}"></span>
        <span>Powered by <a href="http://www.apereo.org/cas">
                Apereo Central Authentication Service
                <span th:text="${T(org.apereo.cas.util.CasVersion).getVersion()}"></span>
                <span th:text="${T(org.apereo.cas.util.CasVersion).getDateTime()}"></span> </a>
            </span>
    </div>
</footer>
</body>
</html>
