@import "components/variables";

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "partials/messages";

@import "components/login";

@import "components/footer";

@import "partials/admin-panels";

@import "components/tooltips";

@import "components/alerts";

@import "components/statistics-view";

@import "components/view-configuration";

@import "components/dashboard-view";


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 85px;
}

body > .container {
  padding: 85px 15px 0;
}

a {
  color: $link-color;
}

.logo {
  width: 80px;
  display: block;
}

header {
  & > .navbar {
    background-color: $navbar-background-color;
    color: color-yiq($navbar-background-color);

    .logo {
      path.cls-1 {
        @if lightness($navbar-background-color) > lightness(#aaa) {
          fill: theme-color("cas-primary");
        } @else {
          fill: white;
        }
      }
    }
  }
}


// Cards
.card {
  margin-bottom: 2em;
}

#card-unexpired-tgts {
  color: #3c763d;
  background-color: #dff0d8;
}

#card-unexpired-sts {
  color: #3c763d;
  background-color: #dff0d8;
}

#card-expired-tgts {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

#card-expired-sts {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

#card-uptime {
  background-color: #d9edf7;

  .card-header {
    color: #31708f;
  }
}

#card-server-info {
  .card-header {
    background-color: #d9edf7;
    color: #31708f;
  }
}


.huge {
  font-size: 30pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.semi-huge {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
