// Bootstrap and its default variables
//@import "../../../node_modules/bootstrap/scss/bootstrap";

@import 'https://fonts.googleapis.com/css?family=PT+Mono';

#loggingDashboard {
  .tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
  }

  .btn .caret {
    margin-left: 5px;
  }
}

#loggersTable {
  td.details-control span {
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10pt;
    color: #337ab7;
  }

  td.details-control span:after {
    content: "\f067";
  }

  tr.shown td.details-control span:after {
    content: "\f068";
  }
}

.additive {
  text-align: center;

  .glyphicon-ok {
    color: #5cb85c;
  }

  .glyphicon-remove {
    color: #d9534f;
  }
}

#logoutputarea {
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 1em; /* space on all directions */
  font-family: 'PT Mono', monospace;
  font-size: 1em;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #39e600;
}

main.container {
  max-width: 95%;
}

